{% extends 'base.html' %}

{% block content %}
<!-- Test: this is the edit user form -->

<form action="/users/{{ user.id }}/edit" method="post">
  <label for ="first-name">New first name: </label>
  <input name="first-name" id="first-name" value="{{ user.first_name }}" class="form-control"/>

  <label for = "last-name" >New last name: </label>
  <input name="last-name" id = "last-name" value="{{ user.last_name }}" class="form-control"/>

  <label for ="image-url">New image url: </label>
  <input name="image-url" id = "image-url" value="{{ user.image_url }}" class="form-control"/>

  <button action="/" class="btn btn-secondary">Cancel</button>
  <input type="submit" value="Save" class="btn btn-success">
</form>

{% endblock %}