{% extends 'base.html' %}

{%block content %}
<!-- Test: this is the user page -->

<h1>Hi {{ user.first_name }} {{ user.last_name}}!</h1>
{% if user.image_url %}
<img src="{{ user.image_url }}" />
{% endif %}
<button onclick="location.href='/users/{{ user.id }}/edit'" class="btn btn-primary">Edit</button>

<button onclick="location.href='/users/{{ user.id }}/delete'" class="btn btn-danger">Delete</button>


<!-- BLOG POSTS -->
<ul>
  {% for post in user.posts %}

    <li><a href="/users/{{ user.id }}/posts/{{ post.id }}">{{ post.title }}</a></li>

  {% endfor %}
</ul>

<button onclick="location.href='/users/{{ user.id }}/posts/new'" class="btn btn-primary">Add Post</button>

{% endblock %}
